:root {
    --nav-bar-width: 260px;

    --study-odd-color: rgb(250, 250, 255);
    --study-hover-color: rgb(235, 235, 255);
    --study-selected-color: rgb(240, 240, 255);

    --series-odd-color: rgb(235, 235, 240);
    --series-hover-color: rgb(220, 220, 240);
    --series-selected-color: rgb(225, 225, 240);

    --instance-odd-color: rgb(220, 220, 225);
    --instance-hover-color: rgb(205, 205, 225);
    --instance-selected-color: rgb(210, 210, 225);

    --details-top-margin: 25px;

    --nav-side-color: rgb(255, 255, 255);
    --nav-side-bg-color: #2e353d;
    --nav-side-selected-bg-color: #4f5b69;
    --nav-side-hover-bg-color: #3e454d;
    --nav-side-submenu-color: rgb(255, 255, 255);
}