.cut-text { 
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: pre; /* preserve double white spaces (https://github.com/orthanc-server/orthanc-explorer-2/issues/30) */ 
  max-width: 0;
}

  /* override CSS from datepicker to avoid the close button to overflow over the text */
.dp__input_icon_pad {
  padding-right: 30px !important;
}

.dp__preset_ranges {
  width: 300px !important;
}

.dp__range_end, .dp__range_start, .dp__active_date {
  background: var(--dp-primary-color) !important;
}