.cut-text { 
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: pre; /* preserve double white spaces (https://github.com/orthanc-server/orthanc-explorer-2/issues/30) */ 
  max-width: 0;
}

  /* override CSS from datepicker to avoid the close button to overflow over the text */
.dp__input_icon_pad {
  padding-right: 30px !important;
}

.dp__preset_ranges {
  width: 300px !important;
}

.dp__range_end, .dp__range_start, .dp__active_date {
  background: var(--dp-primary-color) !important;
}


input.form-control.study-list-filter {
  margin-top: var(--filter-margin);
  margin-bottom: var(--filter-margin);
  padding-top: var(--filter-padding);
  padding-bottom: var(--filter-padding);
  border-bottom-width: thin;
}

.filter-button {
  border-bottom-width: thin !important;
  border-color: var(--bs-border-color);
}

.search-button {
  padding-left: 0px !important;
}

.is-not-searching {
  background-color: var(--table-filters-is-not-searching-color) !important;
  border-color: var(--table-filters-is-not-searching-color) !important;
}

.is-searching {
  background-color: var(--table-filters-is-searching-color) !important;
  border-color: var(--table-filters-is-searching-color) !important;
}

button.form-control.study-list-filter {
  margin-top: var(--filter-margin);
  margin-bottom: var(--filter-margin);
  padding-top: var(--filter-padding);
  padding-bottom: var(--filter-padding);
}

.study-table-header {
  background-color: var(--study-table-header-bg-color) !important;
}

.study-table-title {
  text-align: left;
  padding-left: 4px;
  padding-right: 4px;
  vertical-align: middle;
  line-height: 1.2rem;
}

/* .study-table> :not(:first-child) {
  border-top: 0px !important;
} */

.study-table {
}

.study-table> :nth-child(odd) >tr >td{
  background-color: var(--study-odd-bg-color);
}

.study-table> :nth-child(even) >tr >td{
  background-color: var(--study-even-bg-color);
}

/* only on the first child of each tbody to prevent hover over the labels row */
.study-table>tbody>tr:first-child:hover > * {
  background-color: var(--study-hover-color);
}

.study-table > tbody > tr.study-row-expanded:hover > *{
  background-color: var(--study-details-bg-color);
}
.study-table > tbody > tr.study-details-expanded:hover > *{
  background-color: var(--study-details-bg-color);
}

.study-table> :last-child {
  border-bottom-width: thin;
}

.study-table tr:hover {
  background-color: var(--study-hover-color);
}


.study-table-filters {
  background-color: var(--study-table-filter-bg-color);
}

.study-table-filters > th > div {
  background-color: var(--study-table-filter-bg-color);
}

.study-table-filters > th > div > button{
  background-color: var(--bs-table-bg);
}

.study-table-filters th {
  text-align: left;
  padding-left: 10px !important;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 5px;
  vertical-align: middle;    
}

.study-table td {
  text-align: left;
  padding-left: 10px;
}

.study-list-alert {
  margin-top: var(--filter-margin);
  margin-bottom: var(--filter-margin);
  padding-top: var(--filter-padding);
  padding-bottom: var(--filter-padding);
}

.study-list-bulk-buttons {
  margin-top: var(--filter-margin);
}

.is-invalid-filter {
  /* background-color: #f7dddf !important; */
  border-color: red !important;
  box-shadow: 0 0 0 .25rem rgba(255, 0, 0, .25) !important;
}

.alert-icon {
  margin-right: 0.7rem;
}

.study-table-actions > th {
  background-color: var(--study-table-actions-bg-color) !important;
  vertical-align: middle;
}

.study-table-actions > th > div {
  background-color: var(--study-table-actions-bg-color) !important;
  text-align: left;
}

.study-details-table {
  margin-top: var(--details-top-margin);
  margin-left: 5%;
  width: 95% !important;
  font-size: 0.9rem;
}

.study-details-table>:not(caption) >* >* {
  background-color: var(--study-details-bg-color) !important;
}

.study-details-table >* >* {
  background-color: var(--study-details-bg-color) !important;
}

.study-details-table td {
  vertical-align: top;
}

/* for the StudyItem */
.label {
  margin-left: 2px;
  margin-left: 2px;
  background-color: var(--label-bg-color);
}

/* for the tag editor */
.tags-badge.bg-info  {
  background-color: var(--label-bg-color) !important;
}