WebApplication/node_modules
WebApplication/dist/
ThirdPartyDownloads/
.DS_Store
dist-ssr
*.local
.vscode/
*~
build
tests/.venv/
tests/__pycache__/
tests/storages/
tests/screenshots/
tests/configs/Conf*.json